<h1>Tipos de Entidade</h1>

<div class="row mt-4">
    <% @entity_types.each do |entity_type| %>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= entity_type.nome %></h5>
                    <a href="<%= filter_by_type_path(entity_type.id) %>" class="btn btn-primary">Ver <%= entity_type.nome.downcase %></a>
                </div>
            </div>
        </div>
    <% end %>
</div>


<style>
    .card {
        margin-bottom: 20px; /* Ajuste a quantidade de espaço conforme necessário */
    }
</style>

