<style>
  #manual-button {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 5px 10px;
    text-decoration: none;
    color: #495057;
    border-radius: 5px;
  }
</style>

<h3>Configurações de Usuário</h3> <br>

<%= link_to "<i class='fas fa-user'></i> Meu Perfil".html_safe, current_page?(my_profile_path) ? cadastro_usuario_path : my_profile_path, class: "btn btn-primary #{'active' if current_page?(my_profile_path)}" %>

<% if current_user.user_permission.admin? %>
  <%= link_to "<i class='fas fa-users'></i> Gerenciar Usuários".html_safe, current_page?(index_users_path) ? cadastro_usuario_path : index_users_path, class: "btn btn-primary #{'active' if current_page?(index_users_path) || params[:action] == 'edit'}" %>
  <%= link_to "<i class='fas fa-user-plus'></i> Cadastrar Usuário".html_safe, current_page?(new_user_path) ? cadastro_usuario_path : new_user_path, class: "btn btn-primary #{'active' if current_page?(new_user_path)}" %>
<% end %>

<%= link_to "<i class='fas fa-sign-out-alt'></i> Sair".html_safe, destroy_session_path, class: "btn btn-danger" %> <br ><br >
