<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to "VR Control", root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <li><%= link_to "Entidades", entidades_path, class: "nav-link" %></li>
        </li>
        <li class="nav-item">
          <li><%= link_to "Caixa", financial_records_path, class: "nav-link" %></li>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Estoque</a>
        </li>
        <li class="nav-item">
          <li><%= link_to "Entrada Tecido", new_fabric_entry_path, class: "nav-link" %></li>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Corte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Serigrafia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Costura</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Acabamento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Venda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Relatórios/Consulta</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
