<% @fabric_stock_groups = FabricStock.all.group_by { |fabric_stock| [fabric_stock.tipo_tecido.nome, fabric_stock.cor.nome] } %>
<% if @fabric_stock_groups.any? %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Tipo de Tecido</th>
        <th>Cor</th>
        <th>Quantidade</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @fabric_stock_groups.each do |(tipo, cor), fabric_stocks| %>
        <tr>
          <td><%= fabric_stocks.last.tipo_tecido.nome %></td>
          <td><%= fabric_stocks.last.cor.nome %></td>
          <td><%= fabric_stocks.last.saldo %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%# FabricStock.destroy_all if FabricStock.count > 0 %>
