<h1>Estoque de Tecidos</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Tipo de Tecido</th>
      <th>Cor</th>
      <th>Quantidade em Quilos</th>
      <th>Ultima Atualização</th>
    </tr>
  </thead>
  <tbody>
    <% @fabric_stock_groups.each do |(tipo, cor), fabric_stock| %>
      <tr>
        <td><%= fabric_stock.last.tipo_tecido.nome %></td>
        <td><%= fabric_stock.last.cor.nome %></td>
        <td><%= fabric_stock.last.saldo %></td>
        <td><%= fabric_stock.last.data_hora %></td>
      </tr>
    <% end %>
  </tbody>
</table>