<% @colors = [
  'Preto',
  'Branco',
  'Vermelho',
  'Azul',
  'Amarelo',
  'Verde',
  'Rosa',
  'Laranja',
  'Roxo'
]

@garment_types = ['Camiseta', 'Calça', 'Bermuda'] %>

<h1>Peça para a Serigrafia - Envio</h1>
<h3>Seleção de Peças</h3>
<br>

<form>
  <div class="input-group mb-3" style="width: 50%;">
    <span class="input-group-text">Total (peças)</span>
    <input type="text" id="valor-total-peso" class="form-control" value="0.00" readonly>
    <span class="input-group-text"></span>
  </div>
  
  <div class="form-group mb-3">
    <button type="button" id="add-field-button" class="btn btn-primary">Mais um Tipo de Peça</button>
    <input type="submit" value="Finalizar" class="btn btn-success">
  </div>

  <table class="mb-4 table table-bordered">
    <thead>
      <tr>
        <th>Nº</th>
        <th>Tipo de Peça*</th>
        <th>Costurada</th>
        <th>Quantidade (peças)*</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>
          <select class="form-select">
            <option value="">Selecione um tipo...</option>
            <% @garment_types.each do |garment_type| %>
              <option value="<%= garment_type %>"><%= garment_type %></option>
            <% end %>
          </select>
        </td>
        <td>
          <input type="checkbox" name="costurada" value="costurada" class="form-check-input">
        </td>
        <td>
          <input type="text" class="form-control" value="300">
        </td>
        <td>
          <button type="button" class="btn btn-danger remove-row-button" disabled>Remover</button>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          <select class="form-select">
            <option value="">Selecione um tipo...</option>
            <% @garment_types.each do |garment_type| %>
              <option value="<%= garment_type %>"><%= garment_type %></option>
            <% end %>
          </select>
        </td>
        <td>
          <input type="checkbox" name="costurada" value="costurada" class="form-check-input" checked>
        </td>
        <td>
          <input type="text" class="form-control" value="200">
        </td>
        <td>
          <button type="button" class="btn btn-danger remove-row-button" disabled>Remover</button>
        </td>
      </tr>                
    </tbody>
  </table>  
</form>

<% 15.times do %>
  <br>
<% end %>
