<h1>Peça para a Serigrafia - Retorno</h1>
<h5>Informações do Envio</h5>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Serigrafia</th>
      <th>Data de Envio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Serigrafia do João</td>
      <td>2021-10-10 10:00</td>
    </tr>
  </tbody>
</table>

<div class="form-group">
  <input type="submit" value="Registrar Retorno da Serigrafia" class="btn btn-success">
  <a href="#" class="btn btn-secondary">Voltar</a>
</div><br>


<table class="table table-bordered" style="width: 50%;">
  <thead>
    <tr>
      <th>Data de Retorno</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="datetime-local" name="data_hora" class="form-control"></td>
    </tr>
  </tbody>
</table>

<br><h5>Peças Enviadas</h5>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nº</th>
      <th>Tipo de Peça</th>
      <th>Costurada</th>
      <th>Quantidade Enviada (peças)</th>
      <th>Quantidade Retorno</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Camiseta</td>
      <td><center><input type="checkbox" class="form-check-input" checked disabled></center></td>
      <td>100</td>
      <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Camiseta</td>
      <td><center><input type="checkbox" class="form-check-input" disabled></center></td>
      <td>150</td>
      <td><input type="text" class="form-control"></td>
  </tbody>
</table>

<% @garment_sizes = ['P', 'M', 'G', 'GG', 'XG', 'XXG'] %>
<br><h5>Especificar Tamanhos</h5>
<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Nº</th>
      <% @garment_sizes.each do |garment_size| %>
        <th><%= garment_size %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox" class="form-check-input" checked></td>
      <td>1</td>
      <% @garment_sizes.each do |garment_size| %>
        <td><input type="text" class="form-control"></td>
      <% end %>
    </tr>
    <tr>
      <td><input type="checkbox" class="form-check-input"></td>
      <td>2</td>
      <% @garment_sizes.each do |garment_size| %>
        <td><input type="text" class="form-control" disabled></td>
      <% end %>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <br><thead>
    <tr>
      <th>Valor da Serigrafia</th>
      <th>Observação</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" class="form-control"></td>
      <td><input type="text" class="form-control"></td>
    </tr>
  </tbody>
</table>

<div class="form-group">
  <button type="button" id="add-field-button" class="btn btn-primary float-end">Adicionar Valor Extra</button>
</div><br>

<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th>Valor Extra*</th>
      <th>Observação</th>
      <th>Ação</th>
    </tr>      
  </thead>
  <tbody id="table-body">
    <tr id="primeiraLinha">
      <td><input type="text" name="valor[]" value="" readonly disabled class="form-control"></td>
      <td><input type="text" name="observacao[]" value="" readonly disabled class="form-control"></td>
      <td><button type="button" class="remove-row-button btn btn-secondary" disabled>Remover</button></td>
    </tr>
  </tbody>
</table>
